<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let name of members">{{ name }}</li>
    </ul>

    <div class="add-members-container">
      <input #addMemberInput type="text" placeholder="Name" (input)="onInput(addMemberInput.value)"
        [value]="newMemberName">
      <button (click)="addMember()" class="ui button primary">Add</button>
    </div>

    <div class="input-container">
      <input type="text" placeholder="# of teams">
      <button>Generate</button>
    </div>

    <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>
  </div>
</div>